{
  "remote_ip": "Remote IP Goes here:Port (normally 7 or 9 in UDP Mode)",
  "remote_mac": "Remote Mac addr",
  "inet_interface": "eth0 (work on *nix for Raw Packet)",
  "bot_token": "Telegram's bot token",
  "chat_id": 0
}